/****** Script for SelectTopNRows command from SSMS  ******/
-- lost the org script but di have this for date conversions, which works
SELECT TOP 1000 [ID]
      ,[SampleID]
      ,[StationID]
      ,[OrganizationID]
      ,[SampleNumber]
      ,[NumberSample]

 , convert(datetime, (convert (varchar(10),[DateCollected],111)   + ' ' + isnull(convert (varchar(10),[TimeCollected],108), '00:00:00') ))


      ,[DateReceived]
      ,[DataSheetIncluded]
      ,[MissingDataSheetReqDate]
      ,[ChainOfCustody]
      ,[MissingDataSheetReceived]
      ,[NoMetals]
      ,[PhysicalHabitat]
      ,[Bug]
      ,[NoNutrient]
      ,[TotalSuspendedSolids]
      ,[NitratePhosphorus]
      ,[DuplicatedTSS]
      ,[DuplicatedNP]
      ,[Comment]
      ,[DateCreated]
      ,[UserCreated]
      ,[DateLastModified]
      ,[UserLastModified]
      ,[ChlorideSulfate]
      ,[BlankMetals]
      ,[DuplicatedMetals]
      ,[BugsQA]
      ,[DuplicatedCS]
      ,[Valid]
  FROM [RiverWatch].[dbo].[Samples]