/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [inbSampleID]
      ,[StationNum]
      ,[SampleID]
      ,[txtSampleID]
      ,[KitNum]
      ,[Date]
      ,[Time]
      ,[USGSFlow]
      ,[PH]
      ,[TempC]
      ,[PhenAlk]
      ,[TotalAlk]
      ,[TotalHard]
      ,[DO]
      ,[DOsat]
      ,[Tag]
      ,[Chk]
      ,[EntryType]
      ,[EntryStaff]
      ,[Metals]
      ,[MetalsBlnk]
      ,[MetalsDupe]
      ,[Bugs]
      ,[BugsQA]
      ,[TSS]
      ,[CS]
      ,[NP]
      ,[TSSDupe]
      ,[CSDupe]
      ,[NPDupe]
      ,[FieldValid]
      ,[MetalsStat]
      ,[FinalCheck]
      ,[Method]
      ,[Comments]
      ,[DateReceived]
      ,[DataSheetIncluded]
      ,[MissingDataSheetReqDate]
      ,[ChainOfCustody]
      ,[MissingDataSheetReceived]
      ,[PassValStep]
      ,[tblSampleID]
  FROM [dbRiverwatchWaterData].[dbo].[tblInboundSample]
--  where DataSheetIncluded is not null
  order by date desc


  SELECT
    [KitNum],[SampleID], COUNT(*) AS CountOf
    FROM [dbRiverwatchWaterData].[dbo].[tblInboundSample]
    GROUP BY  [KitNum],[SampleID]
    HAVING COUNT(*)>1