<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="RiverwatchDEV" connectionString=" Data Source=BILL2014\SQLEXPRESS2008;Initial Catalog=RiverWatch;Persist Security Info=False;User ID=Bill;Password=Password16" providerName="System.Data.SqlClient" />
    <add name="RiverwatchWaterDEV" connectionString="Data Source=BILL2014\SQLEXPRESS2008;Initial Catalog=dbRiverwatchWaterData;Persist Security Info=False;User ID=Bill;Password=Password16" providerName="System.Data.SqlClient" />
    <add name="NewRiverwatchEntities" connectionString="metadata=res://*/NewRWModel.csdl|res://*/NewRWModel.ssdl|res://*/NewRWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BILL2014\SQLEXPRESS2008;initial catalog=RiverWatch;persist security info=False;user id=Bill;password=Password16;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>