<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://coloradoriverwatch.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>coloradoriverwatch.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ColoradoRiverWatch</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ColoradoRiverWatch</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RWInbound2.dbRiverwatchWaterDataEntities2" Order="1" Enabled="False">
          <Destination Path="Data Source=istrwtest.database.windows.net;Persist Security Info=True;User ID=istonish;Password=RiverWatch!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RWInbound2.dbRiverwatchWaterDataEntities2, RWInbound2" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RiverWatchEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RWInbound2.RiverWatchEntities, RWInbound2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RiverWatchDEV" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=istrwtest.database.windows.net;Initial Catalog=RiverWatch;User ID=istonish;Password=RiverWatch!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RiverWatchDEV_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=istrwtest.database.windows.net;Initial Catalog=RiverWatch;User ID=istonish;Password=RiverWatch!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RiverWatchDEV-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RiverWatchEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RWInbound2.dbRiverwatchWaterDataEntities2-Web.config Connection String">
      <ParameterValue>Data Source=istrwtest.database.windows.net;Persist Security Info=True;User ID=istonish;Password=RiverWatch!</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="RWInbound2.dbRiverwatchWaterDataEntities2" />
  </ItemGroup>
</Project>